In [1]:
import mysql.connector

In [2]:
import sqlalchemy

In [6]:
sqlEngine       = sqlalchemy.create_engine('mysql+mysqlconnector://root:Indigostars@127.0.0.1/testdatabase', pool_recycle=3600)

dbConnection    = sqlEngine.connect()

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('chicago_socioeconomic_data2.csv')

In [5]:
df.head()

,ca,community_area_name,percent_of_housing_crowded,percent_households_below_poverty,percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64,per_capita_income_,hardship_index
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [7]:
try:
    df.to_sql('chicago_socioeconomic_data2', dbConnection, if_exists='replace');
except:
    print('Failed')

In [8]:
dbConnection.close()

## Thank You