In [1]:
import mysql.connector

In [3]:
try : 
    conn = mysql.connector.connect(host = 'localhost',user = 'root', password = 'Indigostars')
    print('Connected to MySQL')
except : 
    print('Connection Failed')

Connected to MySQL

In [4]:
cursor = conn.cursor(buffered = True)

In [5]:
sql = 'use testdatabase'
cursor.execute(sql)

In [17]:
sql  = 'select * from petsale'
cursor.execute(sql)
cursor.fetchall()

[(1, 'Cat', Decimal('450.09'), datetime.date(2018, 5, 29), 15),
 (2, 'Dog', Decimal('666.66'), datetime.date(2018, 6, 1), 3),
 (3, 'Parrot', Decimal('50.00'), datetime.date(2018, 6, 4), 2),
 (4, 'Hamster', Decimal('60.60'), datetime.date(2018, 6, 11), 6),
 (5, 'Goldfish', Decimal('48.48'), datetime.date(2018, 6, 14), 24)]

In [2]:
import pandas as pd

In [33]:
# df = result.DataFrame()
# Shows error since result here is a list

In [23]:
df = pd.DataFrame(cursor.fetchall(), columns=['ID', 'Animal', 'Price', 'Date', 'Quantity'])

In [24]:
df.head()

   ID    Animal   Price        Date  Quantity
0   1       Cat  450.09  2018-05-29        15
1   2       Dog  666.66  2018-06-01         3
2   3    Parrot   50.00  2018-06-04         2
3   4   Hamster   60.60  2018-06-11         6
4   5  Goldfish   48.48  2018-06-14        24

In [3]:
df2 = pd.read_csv('chicago_socioeconomic_data2.csv')

In [35]:
df2.to_sql('chicago_socioeconomic_data2',conn, if_exists = 'replace', index = False, method = 'multi')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [36]:
# Doesn't work in Mysql, need sqlalchemy

In [40]:
cursor.close()

True

In [41]:
conn.close()

In [37]:
%load_ext sql

In [38]:
%sql mysql://

(MySQLdb.OperationalError) (1045, "Access denied for user 'Anant'@'localhost' (using password: NO)")
(Background on this error at: http://sqlalche.me/e/13/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
# Doesn't work either, find proper syntax for Mysql

## SQLalchemy for MySQL

In [12]:
# Syntax
# import sqlalchemy
# database_username = 'ENTER USERNAME'
# database_password = 'ENTER USERNAME PASSWORD'
# database_ip       = 'ENTER DATABASE IP'
# database_name     = 'ENTER DATABASE NAME'
# database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.format(database_username, database_password, database_ip, database_name))
# frame.to_sql(con=database_connection,name='table_name_for_df',if_exists='replace')

In [5]:
import sqlalchemy

In [9]:
database_engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:Indigostars@127.0.0.1/testdatabase')

In [11]:
# mysql+mysqlconnector://root:Indigostars@3306/testdatabase showing error 
# cannot connect to mysql on format a number is required.

In [13]:
database_connection = database_engine.connect()

In [16]:
df3 = pd.read_csv('CHICAGOCENSUSDATA.csv')

In [17]:
try :
    df3.to_sql(name = 'chicago_census_data',con = database_connection, if_exists = 'replace')
    print('Added to Database')
except :
    print('Failed')

Added to Database

### Thank You