In [1]:
import sqlite3

In [2]:
%load_ext sql

In [3]:
# Creates new database if doesn't exist
con = sqlite3.connect('RealWorldData.db')
cur = con.cursor()

In [4]:
# Creates New Database if does not exist
%sql sqlite:///RealWorldData.db

In [5]:
import pandas as pd

In [6]:
df1 = pd.read_csv('ChicagoCensusData.csv')
df2 = pd.read_csv('ChicagoCrimeData.csv')
df3 = pd.read_csv('ChicagoPublicSchools.csv')

In [7]:
print(df1.shape,df2.shape,df3.shape)

(78, 9) (533, 21) (566, 78)

In [8]:
df1.to_sql('Census_Data',    con, index = False, if_exists = 'replace')
df2.to_sql('Crime_Data',     con, index = False, if_exists = 'replace')
df3.to_sql('Public_Schools', con, index = False, if_exists = 'replace')

C:\Users\Anant\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [9]:
%%sql
select name from sqlite_master where type  ='table'

 * sqlite:///RealWorldData.db
Done.

[('Census_Data',), ('Crime_Data',), ('Public_Schools',)]

In [10]:
%sql SELECT name,typeof(name),length(name) FROM PRAGMA_TABLE_INFO('PUBLIC_SCHOOLS');

 * sqlite:///RealWorldData.db
Done.

[('School_ID', 'text', 9),
 ('NAME_OF_SCHOOL', 'text', 14),
 ('Elementary, Middle, or High School', 'text', 34),
 ('Street_Address', 'text', 14),
 ('City', 'text', 4),
 ('State', 'text', 5),
 ('ZIP_Code', 'text', 8),
 ('Phone_Number', 'text', 12),
 ('Link', 'text', 4),
 ('Network_Manager', 'text', 15),
 ('Collaborative_Name', 'text', 18),
 ('Adequate_Yearly_Progress_Made_', 'text', 30),
 ('Track_Schedule', 'text', 14),
 ('CPS_Performance_Policy_Status', 'text', 29),
 ('CPS_Performance_Policy_Level', 'text', 28),
 ('HEALTHY_SCHOOL_CERTIFIED', 'text', 24),
 ('Safety_Icon', 'text', 11),
 ('SAFETY_SCORE', 'text', 12),
 ('Family_Involvement_Icon', 'text', 23),
 ('Family_Involvement_Score', 'text', 24),
 ('Environment_Icon', 'text', 16),
 ('Environment_Score', 'text', 17),
 ('Instruction_Icon', 'text', 16),
 ('Instruction_Score', 'text', 17),
 ('Leaders_Icon', 'text', 12),
 ('Leaders_Score', 'text', 13),
 ('Teachers_Icon', 'text', 13),
 ('Teachers_Score', 'text', 14),
 ('Parent_Engagement_Icon', 'text', 22),
 ('Parent_Engagement_Score', 'text', 23),
 ('Parent_Environment_Icon', 'text', 23),
 ('Parent_Environment_Score', 'text', 24),
 ('AVERAGE_STUDENT_ATTENDANCE', 'text', 26),
 ('Rate_of_Misconducts__per_100_students_', 'text', 38),
 ('Average_Teacher_Attendance', 'text', 26),
 ('Individualized_Education_Program_Compliance_Rate', 'text', 48),
 ('Pk_2_Literacy__', 'text', 15),
 ('Pk_2_Math__', 'text', 11),
 ('Gr3_5_Grade_Level_Math__', 'text', 24),
 ('Gr3_5_Grade_Level_Read__', 'text', 24),
 ('Gr3_5_Keep_Pace_Read__', 'text', 22),
 ('Gr3_5_Keep_Pace_Math__', 'text', 22),
 ('Gr6_8_Grade_Level_Math__', 'text', 24),
 ('Gr6_8_Grade_Level_Read__', 'text', 24),
 ('Gr6_8_Keep_Pace_Math_', 'text', 21),
 ('Gr6_8_Keep_Pace_Read__', 'text', 22),
 ('Gr_8_Explore_Math__', 'text', 19),
 ('Gr_8_Explore_Read__', 'text', 19),
 ('ISAT_Exceeding_Math__', 'text', 21),
 ('ISAT_Exceeding_Reading__', 'text', 24),
 ('ISAT_Value_Add_Math', 'text', 19),
 ('ISAT_Value_Add_Read', 'text', 19),
 ('ISAT_Value_Add_Color_Math', 'text', 25),
 ('ISAT_Value_Add_Color_Read', 'text', 25),
 ('Students_Taking__Algebra__', 'text', 26),
 ('Students_Passing__Algebra__', 'text', 27),
 ('9th Grade EXPLORE (2009)', 'text', 24),
 ('9th Grade EXPLORE (2010)', 'text', 24),
 ('10th Grade PLAN (2009)', 'text', 22),
 ('10th Grade PLAN (2010)', 'text', 22),
 ('Net_Change_EXPLORE_and_PLAN', 'text', 27),
 ('11th Grade Average ACT (2011)', 'text', 29),
 ('Net_Change_PLAN_and_ACT', 'text', 23),
 ('College_Eligibility__', 'text', 21),
 ('Graduation_Rate__', 'text', 17),
 ('College_Enrollment_Rate__', 'text', 25),
 ('COLLEGE_ENROLLMENT', 'text', 18),
 ('General_Services_Route', 'text', 22),
 ('Freshman_on_Track_Rate__', 'text', 24),
 ('X_COORDINATE', 'text', 12),
 ('Y_COORDINATE', 'text', 12),
 ('Latitude', 'text', 8),
 ('Longitude', 'text', 9),
 ('COMMUNITY_AREA_NUMBER', 'text', 21),
 ('COMMUNITY_AREA_NAME', 'text', 19),
 ('Ward', 'text', 4),
 ('Police_District', 'text', 15),
 ('Location', 'text', 8)]

In [11]:
%%sql
SELECT name_of_school, REPLACE(average_student_attendance, '%','') 
from public_schools
order by average_student_attendance 
limit 6 ;

 * sqlite:///RealWorldData.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Orr Academy High School', '66.30')]

In [12]:
%%sql
SELECT Name_of_School, Average_Student_Attendance
from PUBLIC_SCHOOLS
order by Average_Student_Attendance
LIMIT 5

 * sqlite:///RealWorldData.db
Done.

[('Velma F Thomas Early Childhood Center', None),
 ('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%')]

In [13]:
%%sql
SELECT COUNT(*) FROM public_schools

 * sqlite:///RealWorldData.db
Done.

[(566,)]

In [14]:
%%sql
SELECT COUNT(*) FROM crime_data

 * sqlite:///RealWorldData.db
Done.

[(533,)]

In [15]:
%%sql
SELECT COUNT(*) FROM Census_DATA

 * sqlite:///RealWorldData.db
Done.

[(78,)]

### Thank You